.Rproj.user
.Rhistory
.RData
ESP2_msk_alt.grd
ESP2_msk_alt.gri
ESP2_msk_alt.vrt
ESP_msk_alt.grd
ESP_msk_alt.gri
ESP_msk_alt.vrt
occs.dbf
occs.prj
occs.shp
occs.shx
wc10
GISwithR-figure
knitr_output
spdata.kml
test.kml
